@import "colours.scss";
@import "dims.scss";

@mixin article-content-box() {
  max-width: $wiki-article-width;
  margin: auto;
  padding: $wiki-article-padding;
}

@mixin article() {
  box-sizing: border-box;
  text-align: start;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media screen and (max-width: $wiki-article-width-threshold) {
    min-height: calc(100% - 40px);
  }

  h1,
  h2,
  h3 {
    color: #080016;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  main {
    @include article-content-box();

    flex: 1 0 auto;

    strong {
      color: #7b2a20;
    }

    p {
      font-size: 18px;
    }

    img {
      width: 100%;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        border: 1px solid $view-nav-background;
        tr {
          background-color: $view-nav-background;
          color: white;

          th {
            padding: 4px;
          }
        }
      }

      tbody {
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px solid $border;
        tr {
          &:nth-child(even) {
            background-color: #ededed;
          }
        }
      }

      td,
      th {
        padding: 4px 8px;
      }
    }
  }
  footer {
    background: #eeeeee;
    #footer-content {
      @include article-content-box();
    }
  }
}