$class01: #306082;
$class02: #9badb7;
$class03: #d77bba;
$class04: #eec39a;
$class05: #663931;
$class06: #df7126;
$class07: #fbf236;
$class08: #6abe30;
$class09: #4b692f;
$class10: #323c39;
$class11: #5fcde4;
$class12: #76428a;
$class13: #ac3232;
$class14: #806722;

$accent: #7f2aff;
$accent-40: #7f2aff40;
$accent-20: #7f2aff20;
$border: #ababab;
$grey-background: #eeeeee;

$view-nav-background-light: #0f0024;
$view-nav-background: #080016;
$view-nav-background-dark: #06000f;
$view-nav-text: white;