@import "dims.scss";
@import "colours.scss";

@mixin details-base {
    text-align: start;

    summary {
        font-size: $font-size-h3;
        font-weight: bold;
        color: $view-nav-background;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ababab;
        padding: $tiny $small;

        &:hover {
            cursor: pointer;
        }
    }

    border: 1px solid #ababab;
    border-radius: 4px;

    &:not(:last-child) {
        margin-bottom: $small;
    }
}