$tiny: 4px;
$small: 8px;
$medium: 16px;
$large: 32px;

$font-size-text: 18px;
$font-size-h3: 20px;
$font-size-h2: 24px;
$font-size-h1: 31px;

$wiki-article-width: 700px;
$wiki-article-padding: $medium;
$wiki-article-nav-height: 40px;
$wiki-article-width-threshold: $wiki-article-width + 2 * $wiki-article-padding;