#description-view {
    margin: 0px 0px 8px 0px;

    display: grid;

    input[type='file'], textarea {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 8px;
    }

    textarea {
        resize: vertical;
    }

    p {
        margin-bottom: 8px;
    }
}