@import "../../assets/scss/dims.scss";

@mixin header() {

    #header-content {
        max-width: $wiki-article-width;
        margin: auto;
        padding: $wiki-article-padding;

        h1 {
            font-size: 32px;
            margin: 0;
            word-wrap: break-word;
        }

        p {
            color: rgb(117, 117, 117);
            font-size: 14px;
            margin: 0 0 8px 0;

            span {
                color: #38933b;
                font-weight: 600;
            }
        }
    }

    width: 100%;
    background: #eeeeee;
}